@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scolor:#018AFF;
  --bcolor: #000;
  --wcolor: #FFF;
}

.max-width{
  @apply  max-w-7xl mx-auto;
}

.slick-prev:before, .slick-next:before {
  display: none;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  font-family: "Poppins", sans-serif;
}
/* gloabal spacing */
.padding-x {
  @apply sm:px-16 px-6;
}

.hero {
  @apply bg-[#000] h-full md:h-[100vh]   flex  flex-col items-center justify-center gap-8 relative z-0 w-full mx-auto;
}

.hero__title {
  @apply 2xl:text-[80px] text-[#FFF]  text-[30px]  sm:text-[40px]  font-bold;
}